---
---

@import "{{ site.theme }}";


/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #deebf7;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  
  font-weight: 700;
  
  /*width: 100%;  Full width */
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #24292e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #0366d6;
  color: #fff;
}

/*Per non far sovrapporre la navbar*/
.container-lg {
  margin-top: 100px;
}